.conversionBox {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: rgb(49, 113, 170);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: black solid 1px;
}

.conversionBox input[type="number"] {
  width: 40%;
  padding: 0.5rem;
  margin: 1rem 0;
}

.switchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 30%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #56a9ec;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0d8df5;
}

input:checked + .slider:before {
  transform: translateX(15px);
}
