.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the container */
    padding-top: 10vh; /* Push down content by 10% of the viewport height */
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    min-height: 90vh; /* Reduce min-height to compensate for the added padding */
    background-color: burlywood;
  }
  
  .conversionBox {
    width: 300px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }
  
  .conversionBox input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
  }
  