ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: url("../../assets/images/Banner.jpg") no-repeat center
      center/cover,
    rgb(204, 116, 57);
  box-shadow: 4px 2px 5px gray;
  color: white;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  color: white;
  padding: 2px 4px;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand a {
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;

  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 2px 4px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
