.container {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  min-height: 86.5vh;
  padding-top: 5vh;
  background: linear-gradient(to bottom, burlywood, #D35400);
  font-family: Arial, sans-serif;
}


.logo {
  max-width: 800px;
}
